In [1]:
# preprocess merged_jobs.csv, company-wikiurl.json
# input file: merged_jobs.csv
# output: cleaned_jobs.csv, companyRDF.csv
import pandas as pd
df = pd.read_csv("merged_jobs.csv")
# company name: make_lower case
companyName = [com.lower() for com in df["Company Name"]]
df["Company Name"] = companyName
df.sort_values(by= 'Company Name', axis=0, ascending=True, inplace=True, kind='quicksort', na_position='last')
df.reset_index(drop=True, inplace=True)

In [2]:
import json
with open('company-wikiurl.json') as f:
    data = json.load(f)

In [3]:
wikisite = list()
companyName = df["Company Name"] 

for com in companyName:
    if com in data:
        wikisite.append(data[com])
    else:
        wikisite.append(None)

In [4]:
df['wikisite'] = wikisite

In [5]:
import re

def uri_fuc(key):
    newkey = re.sub(r" corporation", "", key)
    newkey = re.sub(r" incorporation", "", newkey)
    newkey = re.sub(r"[.,<>&()]", "",newkey)
    newkey = re.sub(r"[/-]", " ",newkey)
    newkey = re.sub(r" and ", " ", newkey)
    newkey = re.sub(r"  ", " ", newkey)
    newkey = re.sub(r"technologies", "technology", newkey)
    newkey = re.sub(r"laboratories", "labs", newkey)  
    # newkey = re.sub(r" ", "_",newkey)
    words = re.split(" ", newkey)[:3]
    new_name = ""
    for w in words:
        new_name += w+"_"
    return new_name[:-1]

In [6]:
companyList = df['Company Name']
name = list()
for com in companyList:
    #node_uri = URIRef(MYNS[uri_fuc(com)])
    name.append(uri_fuc(com))

In [7]:
df['uri_name'] = name

In [8]:
df.columns

Index(['Company Name', 'Competitors', 'Founded', 'Headquarters', 'Industry',
       'Job Description', 'Job Title', 'Location', 'Rating', 'Revenue',
       'Salary Estimate', 'Sector', 'Size', 'Type of ownership', 'timestamp',
       'SE/DS', 'Website', 'Company Description', 'wikisite', 'uri_name'],
      dtype='object')

In [9]:
columns = list(df.columns)

remove = ['Industry', 'Job Description', 'Job Title', 'Location', 
          'Salary Estimate', 'timestamp', 'SE/DS']

for col in remove:
    columns.remove(col)

In [10]:
columns

['Company Name',
 'Competitors',
 'Founded',
 'Headquarters',
 'Rating',
 'Revenue',
 'Sector',
 'Size',
 'Type of ownership',
 'Website',
 'Company Description',
 'wikisite',
 'uri_name']

In [11]:
df2 = df[columns]

In [12]:
# dropping duplicate values 
df2.drop_duplicates(keep='first',inplace=True) 
df2.sort_values(by= 'Company Name', axis=0, ascending=True, inplace=True, kind='quicksort', na_position='last')
df2.reset_index(drop=True, inplace=True)

C:\Users\Myunghee\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Myunghee\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
len(set(df2["Company Name"]))

1119

In [14]:
sameNameList = list()
for idx, com in enumerate(df2["Company Name"]):
    try:
        if com == df2.iloc[idx+1]["Company Name"]:
            sameNameList +=[idx, idx+1]
    except:
        continue

In [15]:
len(sameNameList)

54

In [16]:
df2.loc[sameNameList]

,Company Name,Competitors,Founded,Headquarters,Rating,Revenue,Sector,Size,Type of ownership,Website,Company Description,wikisite,uri_name
20,adobe,-1,1856.0,"Madrid, Spain",3.1,$10+ billion (USD),Finance,10000+ employees,Company - Private,-1,NaN,http://www.wikidata.org/entity/Q11463,adobe
21,adobe,"Apple, Microsoft",1982.0,"San Jose, CA",4.0,$5 to $10 billion (USD),Information Technology,10000+ employees,Company - Public,-1,NaN,http://www.wikidata.org/entity/Q11463,adobe
194,centro,"Mediaocean, The Trade Desk, MediaMath",2001.0,"Chicago, IL",4.1,$100 to $500 million (USD),Information Technology,501 to 1000 employees,Company - Private,http://www.centro.net/,NaN,None,centro
195,centro,-1,2010.0,"Cambridge, MA",3.3,$10 to $25 million (USD),Biotech & Pharmaceuticals,1001 to 5000 employees,Company - Public,http://www.centro.net/,NaN,None,centro
260,cybercoders,-1,1999.0,"US, Irvine, California",-1.0,-1,-1,100 to 499 employees,-1,http://www.cybercoders.com,"CyberCoders, a division of On Assignment, is a...",http://www.wikidata.org/entity/Q23016736,cybercoders
261,cybercoders,-1,1999.0,"Irvine, CA",4.2,$100 to $500 million (USD),Business Services,201 to 500 employees,Subsidiary or Business Segment,http://www.cybercoders.com,NaN,http://www.wikidata.org/entity/Q23016736,cybercoders
366,fareportal,"Expedia Group, Orbitz Worldwide, Priceline.com",2002.0,"New York, NY",3.8,$2 to $5 billion (USD),Travel & Tourism,1001 to 5000 employees,Company - Private,-1,NaN,None,fareportal
367,fareportal,"Roche, GlaxoSmithKline, Novartis",1913.0,"Cambridge, United Kingdom",3.9,$10+ billion (USD),Biotech & Pharmaceuticals,10000+ employees,Company - Public,-1,NaN,None,fareportal
408,genworth,"MetLife, Northwestern Mutual, Prudential",2004.0,"Richmond, VA",3.7,$5 to $10 billion (USD),Insurance,1001 to 5000 employees,Company - Public,-1,NaN,None,genworth
409,genworth,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,genworth
529,job juncture,-1,1992.0,"Houston, TX",4.7,Less than $1 million (USD),Business Services,1001 to 5000 employees,Company - Private,-1,NaN,None,job_juncture
530,job juncture,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,job_juncture
541,juniper networks,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,http://www.wikidata.org/entity/Q1049080,juniper_networks
542,juniper networks,-1,1996.0,"Sunnyvale, CA",3.8,$2 to $5 billion (USD),Telecommunications,5001 to 10000 employees,Company - Public,-1,NaN,http://www.wikidata.org/entity/Q1049080,juniper_networks
576,leidos,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,http://www.wikidata.org/entity/Q502132,leidos
577,leidos,-1,1969.0,"Reston, VA",3.4,$10+ billion (USD),Aerospace & Defense,10000+ employees,Company - Public,-1,NaN,http://www.wikidata.org/entity/Q502132,leidos
581,liberty mutual insurance,"Travelers, Allstate, State Farm",1912.0,"Boston, MA",3.3,$10+ billion (USD),Insurance,10000+ employees,Company - Private,http://www.libertymutualgroup.com/,NaN,None,liberty_mutual_insurance
582,liberty mutual insurance,-1,1986.0,"Highland, CA",3.6,$100 to $500 million (USD),"Arts, Entertainment & Recreation",1001 to 5000 employees,Company - Private,http://www.libertymutualgroup.com/,NaN,None,liberty_mutual_insurance
654,moser consulting,-1,1996.0,"Indianapolis, IN",4.5,$25 to $50 million (USD),Business Services,51 to 200 employees,Company - Private,http://www.moserit.com/,NaN,None,moser_consulting
655,moser consulting,-1,1961.0,"Rockville, MD",2.7,$25 to $50 million (USD),Biotech & Pharmaceuticals,201 to 500 employees,Company - Private,http://www.moserit.com/,NaN,None,moser_consulting
663,my job tank,-1,-1.0,"New York, NY",3.6,Unknown / Non-Applicable,-1,51 to 200 employees,Company - Private,http://www.myjobtank.com/,NaN,None,my_job_tank
664,my job tank,-1,2001.0,"Chicago, IL",3.8,Unknown / Non-Applicable,Information Technology,1001 to 5000 employees,Company - Private,http://www.myjobtank.com/,NaN,None,my_job_tank
681,new england biolabs,-1,-1.0,"Concord, CA",2.1,$25 to $50 million (USD),Biotech & Pharmaceuticals,201 to 500 employees,Company - Public,http://www.neb.com/,NaN,http://www.wikidata.org/entity/Q17134414,new_england_biolabs
682,new england biolabs,"Thermo Fisher Scientific, Enzymatics, Illumina",1974.0,"Ipswich, MA",4.7,Unknown / Non-Applicable,Biotech & Pharmaceuticals,201 to 500 employees,Company - Private,http://www.neb.com/,NaN,http://www.wikidata.org/entity/Q17134414,new_england_biolabs
697,novetta,"Leidos, CACI International, Booz Allen Hamilton",2012.0,"Mc Lean, VA",4.0,$100 to $500 million (USD),Information Technology,501 to 1000 employees,Company - Private,http://www.novetta.com/,NaN,http://www.wikidata.org/entity/Q64141841,novetta
698,novetta,"McKinsey & Company, Accenture, Deloitte",1943.0,"London, United Kingdom",3.4,$100 to $500 million (USD),Business Services,1001 to 5000 employees,Company - Private,http://www.novetta.com/,NaN,http://www.wikidata.org/entity/Q64141841,novetta
737,osi engineering,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,osi_engineering
738,osi engineering,-1,2010.0,"US, Campbell, California",-1.0,-1,-1,100 to 499 employees,-1,http://www.OSIengineering.com,OSI is the premiere Managed Services and Staff...,None,osi_engineering
738,osi engineering,-1,2010.0,"US, Campbell, California",-1.0,-1,-1,100 to 499 employees,-1,http://www.OSIengineering.com,OSI is the premiere Managed Services and Staff...,None,osi_engineering
739,osi engineering,-1,2010.0,"Campbell, CA",4.4,$25 to $50 million (USD),Business Services,51 to 200 employees,Company - Private,-1,NaN,None,osi_engineering
750,"pascall systems, inc.",-1,-1.0,-1,-1.0,-1,-1,-1,-1,-1,NaN,None,pascall_systems_inc
751,"pascall systems, inc.",-1,-1.0,"Boston, MA",-1.0,Unknown / Non-Applicable,-1,1 to 50 employees,Unknown,-1,NaN,None,pascall_systems_inc
753,pathrise,-1,2017.0,"San Francisco, CA",5.0,$1 to $5 million (USD),Education,1 to 50 employees,Company - Private,-1,NaN,None,pathrise
754,pathrise,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,pathrise
763,peraton,-1,2017.0,"Herndon, VA",3.3,$1 to $2 billion (USD),Aerospace & Defense,1001 to 5000 employees,Company - Private,http://www.peraton.com/,NaN,None,peraton
764,peraton,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,peraton
776,pitney bowes,-1,1920.0,"Stamford, CT",3.2,$2 to $5 billion (USD),Information Technology,10000+ employees,Company - Public,-1,NaN,http://www.wikidata.org/entity/Q428977,pitney_bowes
777,pitney bowes,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,http://www.wikidata.org/entity/Q428977,pitney_bowes
818,"qualifacts systems, inc.",-1,1986.0,"Highland, CA",3.6,$100 to $500 million (USD),"Arts, Entertainment & Recreation",1001 to 5000 employees,Company - Private,http://www.qualifacts.com/,NaN,None,qualifacts_systems_inc
819,"qualifacts systems, inc.",Netsmart,2002.0,"Nashville, TN",3.1,$25 to $50 million (USD),Information Technology,201 to 500 employees,Company - Private,http://www.qualifacts.com/,NaN,None,qualifacts_systems_inc
879,saic,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,saic
880,saic,"Booz Allen Hamilton, CACI International",2013.0,"Reston, VA",3.6,$2 to $5 billion (USD),Information Technology,10000+ employees,Company - Public,-1,NaN,None,saic
895,scientific research corporation,-1,1988.0,"US, South Atlanta, GA",-1.0,-1,-1,"2,500 to 4,999 employees",-1,http://www.scires.com,Scientific Research Corporation is an advanced...,None,scientific_research
896,scientific research corporation,-1,1988.0,"Atlanta, GA",4.2,$100 to $500 million (USD),Information Technology,1001 to 5000 employees,Company - Private,http://www.scires.com,NaN,None,scientific_research
940,software engineering institute,-1,1984.0,"Pittsburgh, PA",2.6,Unknown / Non-Applicable,Education,501 to 1000 employees,College / University,http://www.sei.cmu.edu/,NaN,None,software_engineering_institute
941,software engineering institute,-1,1984.0,"Pittsburgh, PA",2.8,Unknown / Non-Applicable,Education,501 to 1000 employees,College / University,http://www.sei.cmu.edu/,NaN,None,software_engineering_institute
949,southwest research institute,"Los Alamos National Laboratory, Battelle, SRI ...",1947.0,"San Antonio, TX",3.9,$500 million to $1 billion (USD),Business Services,1001 to 5000 employees,Nonprofit Organization,http://www.swri.org/,We are R&D problem solvers providing independe...,None,southwest_research_institute
950,southwest research institute,"Los Alamos National Laboratory, Battelle, SRI ...",1947.0,"San Antonio, TX",3.9,$500 million to $1 billion (USD),Business Services,1001 to 5000 employees,Nonprofit Organization,http://www.swri.org/,NaN,None,southwest_research_institute
960,sram,"Shimano, Trek Bicycle, Specialized Bicycle Com...",1987.0,"Chicago, IL",3.7,$500 million to $1 billion (USD),Manufacturing,1001 to 5000 employees,Company - Private,-1,NaN,None,sram
961,sram,"J.P. Morgan, New York Community Bancorp, Citi",1966.0,"New York, NY",2.7,$10+ billion (USD),Finance,1001 to 5000 employees,Company - Public,-1,NaN,None,sram
977,success academy charter schools,"Cisco Systems, Huawei Technologies, IBM",1928.0,"Chicago, IL",3.7,$5 to $10 billion (USD),Information Technology,10000+ employees,Company - Public,-1,NaN,None,success_academy_charter
978,success academy charter schools,-1,2006.0,"New York, NY",3.1,$100 to $500 million (USD),Education,1001 to 5000 employees,School / School District,-1,NaN,None,success_academy_charter
988,synechron,-1,2001.0,"New York, NY",3.6,$100 to $500 million (USD),Information Technology,5001 to 10000 employees,Company - Private,https://www.synechron.com/,NaN,None,synechron
989,synechron,-1,2001.0,"US, New York City, New York",-1.0,-1,-1,"5,000 to 9,999 employees",-1,https://www.synechron.com/,"Synechron, one of the fastest-growing digital,...",None,synechron

In [17]:
re = [20, 195, 260, 367, 409, 530, 541, 576, 582, 655, 664, 681, 698, 737, 
      738, 750, 754, 764, 777, 818, 879, 895, 941, 950, 961, 978, 989]

In [18]:
url =df2.iloc[738]["Website"]
df2.at[739, "Website"] = url

In [19]:
df2.drop(re, inplace=True)
df2.reset_index(drop=True, inplace=True)

C:\Users\Myunghee\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [20]:
len(set(df2["Company Name"]))

1119

In [21]:
len(set(df2["uri_name"]))

1112

In [22]:
sameNameList = list()
for idx, com in enumerate(df2["uri_name"]):
    try:
        if com == df2.iloc[idx+1]["uri_name"]:
            sameNameList +=[idx, idx+1]
    except:
        continue

In [23]:
df2.loc[sameNameList]

,Company Name,Competitors,Founded,Headquarters,Rating,Revenue,Sector,Size,Type of ownership,Website,Company Description,wikisite,uri_name
21,adp technology services inc,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,adp_technology_services
22,"adp technology services, inc.",-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,adp_technology_services
132,blue cross & blue shield of rhode island,UnitedHealth Group,1939.0,"Providence, RI",3.4,Unknown / Non-Applicable,Insurance,501 to 1000 employees,Nonprofit Organization,-1,NaN,None,blue_cross_blue
133,blue cross and blue shield of north carolina,-1,1933.0,"Durham, NC",3.8,$5 to $10 billion (USD),Insurance,1001 to 5000 employees,Company - Private,-1,NaN,None,blue_cross_blue
505,irobot,-1,1990.0,"Bedford, MA",4.1,$1 to $2 billion (USD),Retail,1001 to 5000 employees,Company - Public,-1,NaN,http://www.wikidata.org/entity/Q285161,irobot
506,irobot corporation,-1,1990.0,"Bedford, MA",4.1,$1 to $2 billion (USD),Retail,1001 to 5000 employees,Company - Public,-1,NaN,None,irobot
532,jpmorgan chase & co,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,jpmorgan_chase_co
533,jpmorgan chase & co.,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,jpmorgan_chase_co
533,jpmorgan chase & co.,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,jpmorgan_chase_co
534,jpmorgan chase and co.,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,jpmorgan_chase_co
984,technosoft,-1,NaN,NaN,-1.0,-1,-1,NaN,-1,NaN,NaN,None,technosoft
985,technosoft corporation,-1,1996.0,"Southfield, MI",3.5,$100 to $500 million (USD),Information Technology,1001 to 5000 employees,Company - Private,-1,NaN,None,technosoft

In [24]:
re = [22, 506, 532,533, 534, 984]
df2.at[132, "uri_name"] = "blue_cross_blue1"
df2.at[133, "uri_name"] = "blue_cross_blue2"
name1 = df2.iloc[132]["Company Name"]
name2 = df2.iloc[133]["Company Name"]
df2.drop(re, inplace=True)
df2.reset_index(drop=True, inplace=True)

In [25]:
idxes = df.index[df["uri_name"] == "jpmorgan_chase_co"].tolist()

In [26]:
idxes

[893, 894, 895, 896, 897, 898]

In [27]:
for idx in idxes:
    df.at[idx, "uri_name"] = "jpmorgan_chase"

In [28]:
for col in df:
    com = df[col]
    nc = list()
    for c in com:
        if c == '-1' or c == -1.0 or c == "Unknown / Non-Applicable" or c == -1:
            nc.append(None)
        else:
            nc.append(c)
    df[col] =nc

In [29]:
df.to_csv(r'cleaned_jobs.csv', index = False, header=True)

In [30]:
df2 = df[columns]
# dropping duplicate values 
df2.drop_duplicates(keep='first',inplace=True) 
df2.sort_values(by= 'Company Name', axis=0, ascending=True, inplace=True, kind='quicksort', na_position='last')
df2.reset_index(drop=True, inplace=True)

C:\Users\Myunghee\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Myunghee\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [31]:
df2.to_csv(r'companyRDF.csv', index = False, header=True)